---
import type { StoryMeta } from '@/types'

import ComponentLayout from '@/layouts/ComponentLayout.astro'
import VueCycleButton from '@/stories/VueCycleButton.vue'
import code from '@/stories/VueCycleButton.vue?raw'
import { Framework } from '@/types'

export const meta: StoryMeta = {
  name: 'Cycle Button',
  framework: Framework.Vue,
}
---

<ComponentLayout subtitle={meta.name} code={code}>
  <div class='p-3 rounded-xl border border-otl h-60 w-45 flex items-end bg-sur'>
    <VueCycleButton client:only />
  </div>
</ComponentLayout>
