---
import type { StoryMeta } from '@/types'

import Showcase from '@/components/Showcase.astro'
import ComponentLayout from '@/layouts/ComponentLayout.astro'
import VueCycleButton from '@/stories/VueCycleButton.vue'
import code from '@/stories/VueCycleButton.vue?raw'
import { Framework } from '@/types'

export const meta: StoryMeta = {
  name: 'Cycle Button',
  framework: Framework.Vue,
}
---

<ComponentLayout subtitle={meta.name} code={code}>
  <Showcase
    minWidth='60'
    minHeight='78.5'
    class:list='flex items-center justify-end p-3 flex-col gap-3'>
    <div class='bg-pri/5 w-full flex-1 rounded-sm'></div>
    <div class='flex items-center gap-3'>
      <VueCycleButton client:only />
      <button type='button' class='size-9 inline-flex items-center justify-center'>
        <span aria-hidden='true' class='size-4.5 i-[fluent--previous-24-filled]'></span>
      </button>
      <button
        type='button'
        class='w-12 h-9 bg-pri text-on-pri inline-flex items-center justify-center rounded-full'>
        <span aria-hidden='true' class='size-4.5 i-[fluent--play-24-filled]'></span>
      </button>
      <button type='button' class='size-9 inline-flex items-center justify-center'>
        <span aria-hidden='true' class='size-4.5 i-[fluent--next-24-filled]'></span>
      </button>
      <button type='button' class='size-9 inline-flex items-center justify-center'>
        <span aria-hidden='true' class='size-4.5 i-[fluent--navigation-play-20-filled]'></span>
      </button>
    </div>
  </Showcase>
</ComponentLayout>
