---
interface Props {
  width?: string
  height?: string
  class?: string
}

const props = Astro.props
---

<div
  style={{
    width: `calc(var(--spacing) * ${props.width})`,
    height: `calc(var(--spacing) * ${props.height})`,
  }}
  class:list={['p-1 rounded-lg border border-otl bg-sur overflow-auto resize', props.class]}>
  <slot />
</div>
