---
import '@/styles/global.css'

import ThemeSwitcher from '@/components/ThemeSwitcher.vue'

interface Props {
  title?: string
}

const { title } = Astro.props
---

<html lang=''>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <!-- <link rel='icon' type='image/svg+xml' href='/favicon.svg' /> -->
    <title>{title}</title>
  </head>
  <body class='bg-sur w-screen h-screen overflow-y-auto text-on-sur text-sm/normal'>
    <header
      class='pointer-events-none fixed top-0 inset-x-0 *:pointer-events-auto h-15 flex gap-3 items-center px-3 bg-sur/50 backdrop-blur-md'
    >
      <ThemeSwitcher client:only />
    </header>
    <main class="size-full">
      <slot />
    </main>
  </body>
</html>
